:root {
        /* Fonts */

    --font-fraunces: "Fraunces";
    --font-manrope: "Manrope", sans-serif;

        /* Colors */

    --clr-green: hsl(150, 100%, 63%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-purple-900: hsl(273, 85%, 13%);
    --clr-purple-500: hsl(271, 12%, 34%);
    --clr-purple-100: hsl(276, 100%, 99%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}
    /* NAV */

.navigation {
    background-color: var(--clr-purple-900);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.25rem 0 1.25rem;
}

.navigation__cta {
    color: var(--clr-white);
    font-family: var(--font-manrope);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
}

/* /*btn -> for BEM reusable styling for the links */

.border-bottom {
    border-bottom: 3px solid var(--clr-green);
}
/* end */

    /* HERO */

.hero {
    background-color: var(--clr-purple-900);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 50px ;
    border-bottom-right-radius: 5%;
    gap: .5rem;
    padding: 3.5rem 1.25rem 9rem 1.25rem;
    /*
    position: relative;
    */
}

.hero__title {
    color: var(--clr-white);
    font-family: var(--font-fraunces);
    font-size: 3rem;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 2.5rem;
    text-align: center;
}

.hero__cta {
    padding: .75rem 2rem;
    background-color: var(--clr-green);
    color: var(--clr-purple-900);
    text-decoration: none;
    font-family: var(--font-manrope);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8;
}

.hero__image-wrapper {
    max-width: 20rem;
    /*
    position: absolute; 
    bottom: -100px;  
    */
}

.hero__image {
    width: 100%;
}
