:root {
        /* Fonts */

    --font-fraunces: "Fraunces";
    --font-manrope: "Manrope", sans-serif;

        /* Colors */

    --clr-green: hsl(150, 100%, 63%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-purple-900: hsl(273, 85%, 13%);
    --clr-purple-500: hsl(271, 12%, 34%);
    --clr-purple-100: hsl(276, 100%, 99%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}
    /* NAV */

.navigation {
    background-color: var(--clr-purple-900);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.25rem 0 1.25rem;
}

.navigation__cta {
    color: var(--clr-white);
    font-family: var(--font-manrope);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
}

.border-bottom {
    border-bottom: 3px solid var(--clr-green);
}
/* end */

    /* HERO */

.hero {
    background-color: var(--clr-purple-900);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 3.5rem 1.25rem 9rem 1.25rem;
    position: relative;
    border-radius: 0px 0px 130px 130px / 0px 0px 20px 20px;
}

.hero__title {
    color: var(--clr-white);
    font-family: var(--font-fraunces);
    font-size: 3rem;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 2.5rem;
    text-align: center;
}

.hero__cta, .btn {
    padding: .75rem 2rem;
    background-color: var(--clr-green);
    color: var(--clr-purple-900);
    text-decoration: none;
    font-family: var(--font-manrope);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8;
}

.hero__image-wrapper {
    max-width: 20rem;
    position: absolute;
    z-index: 10;
    bottom: -110px;
}

.hero__image {
    width: 100%;
    
}

/* FEATURE */ 

.features {
    background-color: var(--clr-purple-100);
    padding: 9rem 1.25rem 4rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0px 0px 130px 130px / 0px 0px 20px 20px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__number {
    border: 1px solid var(--clr-purple-500);
    border-radius: 1.5rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.25rem;
    font-family: var(--font-fraunces);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.feature__title {
    margin-bottom: 1rem;
    font-family: var(--font-fraunces);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--clr-purple-900);
}

.feature__description {
    text-align: center;
    font-family: var(--font-manrope);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    color: var(--clr-purple-900)
}

/* FOUNDER */

.founder {
    padding: 7rem 1.25rem 0 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.founder__image-wrapper {
    max-width: 20.93rem;
    
}

.founder__image {
    width: 100%;
    max-width: 280px;

}

.founder__bg {
    background-color: var(--clr-purple-900);
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    margin-top: -3rem;
    
}

.founder__title {
    font-family: var(--font-fraunces);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
}

.founder__description {
    font-family: var(--font-manrope);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
}

/* FOOTER */

.footer {
    padding: 5rem;
    display: grid;
    place-items: center;
    gap: 3.5rem;
}

.footer__socials {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 1.75rem;
}